pip install --upgrade pip
pip install streamlit
pip install langchain-community
pip install langchain-text-splitters
pip install python-dotenv
pip install faiss-cpu
pip install langchain-groq
pip install PyPDF2
